
# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @wildanie12 @feri-irawan @ikr4mm @akunbeben @yezki @danz63 @mhaikalla
*       @dipras @maulan909 @jeroapriyansah @msazzuhair @maulan909