body {
    background: #ddd;
    background-image: url('../images/background-pattern.jpg')
}

/* -- Markdown -- */
a {
    text-decoration: none;
    color: rgb(7, 88, 97)
}
blockquote {
    padding: 12px 24px;
    border-left: 4px solid #ddd;
    color: #6a6a6a;
    margin: 24px 0;
}
blockquote p {
    margin: 0;
}
h2 {
    padding-bottom: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 28px;
    border-bottom: 1px solid #ddd
}
h3 {
    font-size: 20px
}
h4 {
    font-size: 18px
}


/* -- Page -- */

.logo-wrapper {
    height: 64px; mix-blend-mode: darken
}

.w-square-64 {
    width: 64px;
    height: 64px;
}

.materi-wrapper {
    width: 400px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    transition: all 500ms ease-out;
    transform: translateY(calc(100% - 40px));
}
.materi-wrapper .card-header {
    cursor: pointer;
}
.materi-wrapper.materi-shown {
    transform: translateY(0);
}
.materi-wrapper.materi-hidden {
    transform: translateY(calc(100% + 40px));
}
.materi-wrapper button {
    transition: all 500ms ease-out;
    transform: rotate(0);
}
.materi-wrapper button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none;
}
.materi-wrapper button.rotated {
    transform: rotate(-180deg);
}
.materi-wrapper .card-header {
    background-color: #4f5b93;
}

code {
    font-size: .875em;
    color: #d63384;
    word-wrap: break-word;
    background: #f1f1f1;
    padding: 4px;
    border-radius: 6px;
}
pre {
    background: #f1f1f1;
    padding: 16px;
    border-left: 4px solid #ddd;
}